$primary-color: rgba(38, 38, 38, 1);
$acent-color: rgba(64, 84, 249, 1);
$acent-color--hover: rgb(93, 108, 247);
$transition-delay: 0.2s;
$transition-delay--long: 0.3s;

$bg-primary: #ffffff;
$bg-secondary: rgba(242, 245, 251, 1);

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: $bg-primary;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.container {
  width: 100%;
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

// UI-KIT

.btn {
  background-color: $acent-color;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding: 8px 16px;
  color: #ffffff;
  transition: background $transition-delay--long ease;
}

.btn:hover {
  background-color: $acent-color--hover;
}

.btn.clean {
  background-color: transparent;
  color: $acent-color;
}

.btn.clean:hover {
  color: $acent-color--hover;
}

em {
  color: $acent-color;
  text-decoration: none;
  font-style: normal;
}

// HEADER

.header {
  height: 72px;

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .nav__list {
      display: flex;
      flex-direction: row;
      gap: 30px;

      .nav__link {
        position: relative;
        color: $primary-color;
        transition: color $transition-delay ease;
      }

      .nav__link::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        height: 2px;
        width: 0;
        background-color: $acent-color;
        transition: width $transition-delay--long ease;
      }

      .nav__link:hover {
        color: $acent-color;
      }
      .nav__link:hover::after {
        width: 100%;
      }

      .selected {
        color: rgba(209, 133, 44, 1);
      }
    }

    .header__right {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 28px;

      .gift-link {
        position: relative;

        span {
          position: absolute;
          top: -5px;
          right: -10px;
          background-color: rgba(114, 94, 216, 1);
          border-radius: 100%;
          border: 3px solid #ffffff;
          color: #ffffff;
          font-weight: 900;
          font-size: 9px;
          line-height: 100%;
          width: 14px;
          height: 14px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .gift-link:hover {
        animation: giftFlip 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
      }

      .gift-link:hover {
        animation: giftJump 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
      }

      .header__auth {
        display: flex;
        flex-direction: row;
        gap: 12px;
      }
    }
  }
}

// INTRO

.intro {
  background-color: $bg-secondary;

  &__inner {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 572px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      width: 100%;
      max-width: 664px;
      font-weight: 800;
      font-size: 54px;
      line-height: 64px;
      letter-spacing: 0.5%;
    }

    .btn {
      width: 100%;
      max-width: 310px;
      margin-top: 50px;
      font-size: 30px;
      padding: 14px 56px;
    }
  }

  &__demo {
    margin-left: 420px;
    position: absolute;
    top: 58px;
    right: -320px;

    &__inner {
      position: relative;

      .laptop-img {
        position: relative;
        z-index: 10;
      }

      .deco-img {
        position: absolute;
        top: -25px;
        left: -45px;
        z-index: 0;
      }
    }
  }
}

// ANIMATIONS

@keyframes giftJump {
  0% {
    transform: translateY(0) rotate(0);
  }
  30% {
    transform: translateY(-5px) rotate(0);
  }
  50% {
    transform: translateY(-10px) rotate(180deg);
  }
  70% {
    transform: translateY(-5px) rotate(360deg);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}

@keyframes giftFlip {
  0% {
    transform: rotate(0) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes shine {
  0% {
    transform: translateX(-100%) rotate(45deg);
  }
  100% {
    transform: translateX(100%) rotate(45deg);
  }
}
