*,
*::before,
*:active {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$primary-color: rgba(38, 38, 38, 1);
$acent-color: rgba(64, 84, 249, 1);
$acent-color--hover: rgb(93, 108, 247);
$transition-delay: 0.2s;
$transition-delay--long: 0.3s;

$bg-primary: #ffffff;
$bg-secondary: rgba(242, 245, 251, 1);

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: $bg-primary;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.container {
  width: 100%;
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

// UI-KIT

.btn {
  background-color: $acent-color;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding: 8px 16px;
  color: #ffffff;
  transition: background $transition-delay--long ease;
}

.btn:hover {
  background-color: $acent-color--hover;
}

.btn.clean {
  background-color: transparent;
  color: $acent-color;
}

.btn.clean:hover {
  color: $acent-color--hover;
}

em {
  color: $acent-color;
  text-decoration: none;
  font-style: normal;
}

.devider {
  width: 100%;
  border: 1px solid rgba(207, 215, 231, 1);
}

.devider.vertical {
  width: 1px;
}

// HEADER

.header {
  height: 72px;
  display: flex;
  align-items: center;

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .nav__list {
      display: flex;
      flex-direction: row;
      gap: 30px;

      .nav__link {
        position: relative;
        color: $primary-color;
        transition: color $transition-delay ease;
      }

      .nav__link::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        height: 2px;
        width: 0;
        background-color: $acent-color;
        transition: width $transition-delay--long ease;
      }

      .nav__link:hover {
        color: $acent-color;
      }
      .nav__link:hover::after {
        width: 100%;
      }

      .selected {
        color: rgba(209, 133, 44, 1);
      }
    }

    .header__right {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 28px;

      .gift-link {
        position: relative;

        span {
          position: absolute;
          top: -5px;
          right: -10px;
          background-color: rgba(114, 94, 216, 1);
          border-radius: 100%;
          border: 3px solid #ffffff;
          color: #ffffff;
          font-weight: 900;
          font-size: 9px;
          line-height: 100%;
          width: 14px;
          height: 14px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .gift-link:hover {
        animation: giftFlip 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
      }

      .gift-link:hover {
        animation: giftJump 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
      }

      .header__auth {
        display: flex;
        flex-direction: row;
        gap: 12px;
      }
    }
  }
}

// INTRO

.intro {
  background-color: $bg-secondary;

  &__inner {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 572px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      width: 100%;
      max-width: 664px;
      font-weight: 800;
      font-size: 54px;
      line-height: 64px;
      letter-spacing: 0.5%;
    }

    .btn {
      width: 100%;
      max-width: 310px;
      margin-top: 50px;
      font-size: 20px;
      padding: 14px 56px;
    }
  }

  &__demo {
    margin-left: 420px;
    position: absolute;
    top: 58px;
    right: -320px;

    &__inner {
      position: relative;

      .laptop-img {
        position: relative;
        z-index: 10;
      }

      .deco-img {
        position: absolute;
        top: -25px;
        left: -45px;
        z-index: 0;
      }
    }
  }
}

// WORK

.work {
  padding: 140px 0;

  &__inner {
    h2 {
      font-weight: 800;
      font-size: 50px;
      line-height: 60px;
      letter-spacing: 0.5%;
      text-align: center;
    }
    p {
      width: 100%;
      max-width: 762px;
      margin-top: 30px;
      font-weight: 400;
      font-style: Medium;
      font-size: 26px;
      line-height: 34px;
      letter-spacing: 0.5%;
      text-align: center;
      margin: 0 auto;

      em {
        font-weight: 800;
      }
    }

    img {
      margin-top: 20px;
    }
  }
}

// TARGET-AUDIETORY

.target-auditory {
  background-color: $bg-secondary;
  padding: 140px 0;

  &__inner {
    position: relative;

    .deco-img {
      position: absolute;
      top: 20px;
      right: -85px;
    }

    h2 {
      font-weight: 800;
      font-size: 50px;
      line-height: 60px;
      letter-spacing: 0.5%;
    }

    .professional-card__list {
      margin-top: 50px;
      position: relative;
      z-index: 10;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;

      .professional-card__item {
        display: flex;
        flex-direction: column;
        gap: 24px;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 25px 25px 50px 0px rgba(0, 0, 0, 0.07);
        border-radius: 3px;
        padding: 40px;
        width: 100%;
        max-width: 370px;

        img {
          width: 70px;
          height: 70px;
        }
        span {
          font-weight: 600;
          font-size: 26px;
          line-height: 34px;
          letter-spacing: 0%;
        }
      }

      .professional-card__item:nth-child(4) {
        grid-column: 1 / span 3;
        max-width: 100%;
      }
    }
  }
}

// FUNCTION

.function {
  background-color: $bg-secondary;
  padding-bottom: 140px;

  &__inner {
    position: relative;

    h2 {
      width: fit-content;
      margin: 0 auto;
      font-weight: 800;
      font-size: 50px;
      line-height: 60px;
      letter-spacing: 0.5%;
    }

    .deco-img {
      position: absolute;
      left: -90px;
      bottom: -90px;
    }
  }

  &__content {
    position: relative;
    z-index: 10;

    margin-top: 50px;
    flex: row;
    flex-direction: column;

    background-color: #ffffff;
    box-shadow: 25px 25px 50px 0px rgba(0, 0, 0, 0.07);
    border-radius: 3px;
    padding: 50px 70px;

    h3 {
      font-weight: 700;
      font-size: 26px;
      line-height: 34px;
      letter-spacing: 0%;
      text-align: center;
      margin: 44px 0;
    }

    &__element {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .function__part {
        width: 100%;
        max-width: 430px;

        h3 {
          margin: 0;
        }

        .function__list {
          margin-top: 32px;
          display: flex;
          flex-direction: column;
          gap: 10px;

          .function__item {
            display: flex;
            flex-direction: row;
            align-items: start;
            gap: 6px;

            p {
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: 0%;
            }
          }
        }

        .function__label {
          display: inline-block;
          margin-top: 22px;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0%;

          color: rgba(151, 151, 151, 1);
        }

        .function__text {
          display: block;
          margin: 18px auto;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0%;
          text-align: center;
          color: rgba(59, 59, 59, 1);
        }

        .function__rates {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          &__item {
            display: flex;
            flex-direction: column;

            .rate__title {
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: 0%;
              text-align: center;
              color: rgba(59, 59, 59, 1);
            }

            .rate__price {
              font-weight: 500;
              font-size: 22px;
              line-height: 30px;
              letter-spacing: 0%;
              text-align: center;
              color: rgba(59, 59, 59, 1);
            }
          }
        }
      }

      .function__part:nth-child(3) {
        .function__list {
          margin-top: 22px;
        }
      }
    }
  }
}

// ANIMATIONS

@keyframes giftJump {
  0% {
    transform: translateY(0) rotate(0);
  }
  30% {
    transform: translateY(-5px) rotate(0);
  }
  50% {
    transform: translateY(-10px) rotate(180deg);
  }
  70% {
    transform: translateY(-5px) rotate(360deg);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}

@keyframes giftFlip {
  0% {
    transform: rotate(0) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes shine {
  0% {
    transform: translateX(-100%) rotate(45deg);
  }
  100% {
    transform: translateX(100%) rotate(45deg);
  }
}
